<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="gwt:property" content="locale=ru" />
    <meta http-equiv="content-language" content="ru" />
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %}{% endblock %}</title>

</head>
    <body>

        {% block body %}{% endblock %}

    </body>
</html>
